.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 70vh;
    padding: 25px;
    gap: 10px;
    margin: auto;
}

@media screen and (max-width: 430px) {
    .container {
        width: 100%;
        height: 50vh;
    }
}


.user, .pass {
    width: 100%;
    border-radius: 13px;
    background: white;
}

.user:focus, .pass:focus {
    outline: none !important;
    border: none !important;
}


.submit {
    background: #e0e0e0;
    color: #68645d;
}

.submit:hover {
    color: black;
    background: #e0e0e0;
}
