.container {
    display: flex;
    width: 50%;
    padding: 10px;
    margin: auto;
    justify-content: center;
    gap: 5px;
}

.table {
    width: 80%;
    min-height: 85vh;
    background: #fafafa !important;
    margin: auto;
}

.buttons {
    font-size: 0.8em;
}

@media screen and (max-width: 500px) {
    .buttons {font-size: 0.6em}
}